[Unit]
Description=Lerd PHP {{.Version}} FPM
After=network.target

[Container]
Image=lerd-php{{.VersionShort}}-fpm:local
ContainerName=lerd-php{{.VersionShort}}-fpm
Network=lerd
Volume=%h:%h:rw
PodmanArgs=--security-opt=label=disable
Exec=php-fpm -F -R

[Service]
Restart=always

[Install]
WantedBy=default.target
