[Unit]
Description=Lerd RustFS
After=network.target

[Container]
Image=docker.io/rustfs/rustfs:latest
ContainerName=lerd-rustfs
Network=lerd
PublishPort=9000:9000
PublishPort=9001:9001
Volume=%h/.local/share/lerd/data/rustfs:/data:z
UserNS=keep-id:uid=10001,gid=10001
Environment=RUSTFS_ACCESS_KEY=lerd
Environment=RUSTFS_SECRET_KEY=lerdpassword
Exec=--console-enable /data

[Service]
Restart=always

[Install]
WantedBy=default.target
