[Unit]
Description=Lerd Meilisearch
After=network.target

[Container]
Image=docker.io/getmeili/meilisearch:v1.7
ContainerName=lerd-meilisearch
Network=lerd
PublishPort=7700:7700
Volume=%h/.local/share/lerd/data/meilisearch:/meili_data:z

[Service]
Restart=always

[Install]
WantedBy=default.target
